In [1]:
input=[1,5,5,1,5,1,5,3,1,3,2,4,3,4,1,1,3,5,4,4,2,1,2,1,2,1,2,1,5,2,1,5,1,2,2,1,5,5,5,1,1,1,5,1,3,4,5,1,2,2,5,5,3,4,5,4,4,1,4,5,3,4,4,5,2,4,2,2,1,3,4,3,2,3,4,1,4,4,4,5,1,3,4,2,5,4,5,3,1,4,1,1,1,2,4,2,1,5,1,4,5,3,3,4,1,1,4,3,4,1,1,1,5,4,3,5,2,4,1,1,2,3,2,4,4,3,3,5,3,1,4,5,5,4,3,3,5,1,5,3,5,2,5,1,5,5,2,3,3,1,1,2,2,4,3,1,5,1,1,3,1,4,1,2,3,5,5,1,2,3,4,3,4,1,1,5,5,3,3,4,5,1,1,4,1,4,1,3,5,5,1,4,3,1,3,5,5,5,5,5,2,2,1,2,4,1,5,3,3,5,4,5,4,1,5,1,5,1,2,5,4,5,5,3,2,2,2,5,4,4,3,3,1,4,1,2,3,1,5,4,5,3,4,1,1,2,2,1,2,5,1,1,1,5,4,5,2,1,4,4,1,1,3,3,1,3,2,1,5,2,3,4,5,3,5,4,3,1,3,5,5,5,5,2,1,1,4,2,5,1,5,1,3,4,3,5,5,1,4,3]
#input=[3,4,3,1,2]
#input=[1, 1]

len(input)

300

In [2]:
import pandas as pd

In [3]:
kids=pd.DataFrame({'days':[], 'nb':[]})
mature=pd.DataFrame({'days': input}).value_counts('days').rename('nb').reset_index()
print(mature)
print(0, mature['nb'].sum())

for i in range(256) :
    mature = pd.concat([mature, mature[mature.days==0].assign(days=9)])
    mature['days'].mask(mature.days==0, other=7, inplace=True)
    mature = mature.assign(days=lambda df: df.days-1)
    mature=mature.groupby('days').sum().reset_index()
    print(i+1, mature['nb'].sum())

   days  nb
0     1  79
1     5  71
2     4  56
3     3  52
4     2  42
0 300
1 300
2 379
3 421
4 473
5 529
6 600
7 600
8 600
9 679
10 721
11 852
12 950
13 1073
14 1129
15 1200
16 1279
17 1321
18 1531
19 1671
20 1925
21 2079
22 2273
23 2408
24 2521
25 2810
26 2992
27 3456
28 3750
29 4198
30 4487
31 4794
32 5218
33 5513
34 6266
35 6742
36 7654
37 8237
38 8992
39 9705
40 10307
41 11484
42 12255
43 13920
44 14979
45 16646
46 17942
47 19299
48 21189
49 22562
50 25404
51 27234
52 30566
53 32921
54 35945
55 39131
56 41861
57 46593
58 49796
59 55970
60 60155
61 66511
62 72052
63 77806
64 85724
65 91657
66 102563
67 109951
68 122481
69 132207
70 144317
71 157776
72 169463
73 188287
74 201608
75 225044
76 242158
77 266798
78 289983
79 313780
80 346063
81 371071
82 413331
83 443766
84 491842
85 532141
86 580578
87 636046
88 684851
89 759394
90 814837
91 905173
92 975907
93 1072420
94 1168187
95 1265429
96 1395440
97 1499688
98 1664567
99 1790744
100 1977593
101 2144094
102 2337849
103 2563627
104 2765117
105 3060007
106 3290432
107 3642160
108 3934838
109 4315442
110 4707721
111 5102966
112 5623634
113 6055549
114 6702167
115 7225270
116 7957602
117 8642559
118 9418408
119 10331355
120 11158515
121 12325801
122 13280819
123 14659769
124 15867829
125 17376010
126 18973914
127 20576923
128 22657156
129 24439334
130 26985570
131 29148648
132 32035779
133 34841743
134 37952933
135 41631070
136 45016257
137 49642726
138 53587982
139 59021349
140 63990391
141 69988712
142 76472813
143 82969190
144 91273796
145 98604239
146 108664075
147 117578373
148 129010061
149 140463204
150 152957902
151 167746609
152 181573429
153 199937871
154 216182612
155 237674136
156 258041577
157 281967963
158 308209813
159 334531331
160 367684480
161 397756041
162 437612007
163 474224189
164 519642099
165 566251390
166 616499294
167 675894293
168 732287372
169 805296487
170 871980230
171 957254106
172 1040475579
173 1136141393
174 1242145683
175 1348786666
176 1481190780
177 1604267602
178 1762550593
179 1912455809
180 2093395499
181 2282621262
182 2484928059
183 2723336463
184 2953054268
185 3243741373
186 3516723411
187 3855946092
188 4195077071
189 4578323558
190 5005957725
191 5437982327
192 5967077836
193 6469777679
194 7099687465
195 7711800482
196 8434269650
197 9201034796
198 10016305885
199 10973035561
200 11907760006
201 13066765301
202 14181578161
203 15533957115
204 16912835278
205 18450575535
206 20174070357
207 21924065891
208 24039800862
209 26089338167
210 28600722416
211 31094413439
212 33984532650
213 37086905635
214 40374641426
215 44213871219
216 48013404058
217 52640523278
218 57183751606
219 62585255066
220 68181319074
221 74359174076
222 81300776854
223 88388045484
224 96854394497
225 105197155664
226 115225778344
227 125365070680
228 136944429142
229 149482095928
230 162747219560
231 178155171351
232 193585201148
233 212080172841
234 230562226344
235 252170207486
236 274847166608
237 299691648702
238 327637267279
239 356332420708
240 390235344192
241 424147427492
242 464250380327
243 505409392952
244 551861856188
245 602484433887
246 656024069410
247 717872611471
248 780479848200
249 854485724519
250 929556820444
251 1016112236515
252 1107893826839
253 1207885925598
254 1320357045358
255 1436503917610
256 1572358335990

In [4]:
mature

   days            nb
0     0  137678332654
1     1  160561292390
2     2  166852686249
3     3  186547514830
4     4  204252710084
5     5  216138971011
6     6  248325538140
7     7  116146872252
8     8  135854418380